# My ptyhon snippets

#! header
snippet #! "Header for python scripts" !b
# -*- coding: utf-8 -*-
# Author: Jerry Rong
$0
endsnippet


snippet ## "Python source code encoding" b
# -*- coding: utf-8 -*-
$0
endsnippet
